form( action="filter" )
    input( name="year", placeholder="Filter by year" )
    input( name="rating", placeholder="Filter by rating", type="number", min=0 )
    input( value="Search", type="submit" )