// config
@import "./config/_variables";
@import "./config/_reset";

// components
@import "./components/header";
@import "./components/footer";
@import "./components/video";
@import "./components/shared";
@import "./components/forms";
@import "./components/social-login";

// screens
@import "./screens/search";
@import "./screens/profile";
@import "./screens/edit-profile";
@import "./screens/upload.scss";

// defaults
a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: $bg;
    color: white;
}

main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 5s;
  &.error {
    background-color: tomato;
    color: white;
  }
}