extends templates/layout

block content
  if errMsg
    span=errMsg
  form(method="POST")
    input(name="username", placeholder="USER NAME", type="text", required )
    input(name="password", placeholder="PASSWORD", type="password", required )
    input(name="passwordConfirm", placeholder="PASSWORD CONFIRM", type="password", required )
    input(name="name", placeholder="NAME", type="text", required )
    input(type="submit", value="JOIN")
    a(href="/login") login &rarr;