header
    h1 #{pageTitle} | #{siteTitle}
    nav
        ul
            li
                a(href="/") HOME
            li
                a(href="/upload") UPLOAD
            li
                a(href="/search") SEARCH