extends base
include mixins/video

block content
    form( method="GET" )
        input(name="keyword", type="text", placeholder="search by title")
        input(type="submit", value="Search now")

    div
        each video in videos
            +video(video)