extends base

block content
    div
        button#startBtn start recording
        video#preview
    if errorMessage
        span=errorMessage
    form( method="POST" enctype="multipart/form-data" )
        label( for="video" ) Video File
        input( name="video", id="video", type="file", accept="video/*", required )
        input( name="title", placeholder="Title", type="text", required, maxlength=80 )
        input( name="description", placeholder="Description", type="text", required, minlength=20 )
        input( name="hashtags", placeholder="Hashtags, seperated by comma.", type="text", required )
        input( value="Upload Video", type="submit" )

block scripts 
    script(src="/assets/js/recorder.js")