extends ../base

block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(name="oldPassword", placeholder="Old Password")
        input(name="newPassword", placeholder="New Password")
        input(name="newPasswordConfirmation", placeholder="New Password Confirmation")
        input(value="Change Password", type="submit")